In [2]:
import pandas as pd, numpy as np

In [8]:
spotify_data = pd.read_csv("/Users/veenukukreja/Downloads/spotify_history - spotify_history.csv")

In [10]:
spotify_data

,spotify_track_uri,ts,platform,ms_played,track_name,artist_name,album_name,reason_start,reason_end,shuffle,skipped
0,2J3n32GeLmMjwuAzyhcSNe,2013-07-08 2:44:34,web player,3185,"Say It, Just Say It",The Mowgli's,Waiting For The Dawn,autoplay,clickrow,False,False
1,1oHxIPqJyvAYHy0PVrDU98,2013-07-08 2:45:37,web player,61865,Drinking from the Bottle (feat. Tinie Tempah),Calvin Harris,18 Months,clickrow,clickrow,False,False
2,487OPlneJNni3NWC8SYqhW,2013-07-08 2:50:24,web player,285386,Born To Die,Lana Del Rey,Born To Die - The Paradise Edition,clickrow,unknown,False,False
3,5IyblF777jLZj1vGHG2UD3,2013-07-08 2:52:40,web player,134022,Off To The Races,Lana Del Rey,Born To Die - The Paradise Edition,trackdone,clickrow,False,False
4,0GgAAB0ZMllFhbNc3mAodO,2013-07-08 3:17:52,web player,0,Half Mast,Empire Of The Sun,Walking On A Dream,clickrow,nextbtn,False,False
...,...,...,...,...,...,...,...,...,...,...,...
149855,4Fz1WWr5o0OrlIcZxcyZtK,2024-12-15 23:06:19,android,1247,On The Way Home,John Mayer,Paradise Valley,fwdbtn,fwdbtn,True,True
149856,0qHMhBZqYb99yhX9BHcIkV,2024-12-15 23:06:21,android,1515,Magical Mystery Tour - Remastered 2009,The Beatles,Magical Mystery Tour,fwdbtn,fwdbtn,True,True
149857,0HHdujGjOZChTrl8lJWEIq,2024-12-15 23:06:22,android,1283,"Stop This Train - Live at the Nokia Theatre, L...",John Mayer,Where the Light Is: John Mayer Live In Los Ang...,fwdbtn,fwdbtn,True,True
149858,7peh6LUcdNPcMdrSH4JPsM,2024-12-15 23:06:23,android,1306,I Don't Trust Myself (With Loving You),John Mayer,Continuum,fwdbtn,fwdbtn,True,True
149859,6iGU74CwXuT4XVepjc9Emf,2024-12-15 23:06:25,android,1893,God Only Knows - Mono,The Beach Boys,Pet Sounds,fwdbtn,fwdbtn,True,True

In [24]:
spotify_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149860 entries, 0 to 149859
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   spotify_track_uri  149860 non-null  object
 1   ts                 149860 non-null  datetime64[ns]
 2   platform           149860 non-null  object
 3   ms_played          149860 non-null  int64
 4   track_name         149860 non-null  object
 5   artist_name        149860 non-null  object
 6   album_name         149860 non-null  object
 7   reason_start       149717 non-null  object
 8   reason_end         149743 non-null  object
 9   shuffle            149860 non-null  bool
 10  skipped            149860 non-null  bool
dtypes: bool(2), datetime64[ns](1), int64(1), object(7)
memory usage: 10.6+ MB

In [26]:
#lets convert ts type into date & time 
spotify_data['ts']= pd.to_datetime(spotify_data['ts'])

In [34]:
#lets convert ms to minutes
spotify_data['minutes_played']= spotify_data['ms_played']/60000

In [36]:
spotify_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149860 entries, 0 to 149859
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   spotify_track_uri  149860 non-null  object
 1   ts                 149860 non-null  datetime64[ns]
 2   platform           149860 non-null  object
 3   ms_played          149860 non-null  int64
 4   track_name         149860 non-null  object
 5   artist_name        149860 non-null  object
 6   album_name         149860 non-null  object
 7   reason_start       149717 non-null  object
 8   reason_end         149743 non-null  object
 9   shuffle            149860 non-null  bool
 10  skipped            149860 non-null  bool
 11  minutes_played     149860 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 11.7+ MB

In [38]:
spotify_data.head()

,spotify_track_uri,ts,platform,ms_played,track_name,artist_name,album_name,reason_start,reason_end,shuffle,skipped,minutes_played
0,2J3n32GeLmMjwuAzyhcSNe,2013-07-08 02:44:34,web player,3185,"Say It, Just Say It",The Mowgli's,Waiting For The Dawn,autoplay,clickrow,False,False,0.053083
1,1oHxIPqJyvAYHy0PVrDU98,2013-07-08 02:45:37,web player,61865,Drinking from the Bottle (feat. Tinie Tempah),Calvin Harris,18 Months,clickrow,clickrow,False,False,1.031083
2,487OPlneJNni3NWC8SYqhW,2013-07-08 02:50:24,web player,285386,Born To Die,Lana Del Rey,Born To Die - The Paradise Edition,clickrow,unknown,False,False,4.756433
3,5IyblF777jLZj1vGHG2UD3,2013-07-08 02:52:40,web player,134022,Off To The Races,Lana Del Rey,Born To Die - The Paradise Edition,trackdone,clickrow,False,False,2.233700
4,0GgAAB0ZMllFhbNc3mAodO,2013-07-08 03:17:52,web player,0,Half Mast,Empire Of The Sun,Walking On A Dream,clickrow,nextbtn,False,False,0.000000

In [40]:
spotify_data.isnull()

,spotify_track_uri,ts,platform,ms_played,track_name,artist_name,album_name,reason_start,reason_end,shuffle,skipped,minutes_played
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
149855,False,False,False,False,False,False,False,False,False,False,False,False
149856,False,False,False,False,False,False,False,False,False,False,False,False
149857,False,False,False,False,False,False,False,False,False,False,False,False
149858,False,False,False,False,False,False,False,False,False,False,False,False
149859,False,False,False,False,False,False,False,False,False,False,False,False

In [42]:
spotify_data.describe()

                                  ts     ms_played  minutes_played
count                         149860  1.498600e+05   149860.000000
mean   2020-04-15 14:09:46.840110848  1.283166e+05        2.138611
min              2013-07-08 02:44:34  0.000000e+00        0.000000
25%              2018-02-01 06:17:52  2.795000e+03        0.046583
50%       2020-07-10 19:24:18.500000  1.388400e+05        2.314000
75%    2021-12-27 19:19:03.750000128  2.185070e+05        3.641783
max              2024-12-15 23:06:25  1.561125e+06       26.018750
std                              NaN  1.178401e+05        1.964001

In [46]:
spotify_data.shape

(149860, 12)

In [48]:
spotify_data.isnull().sum()/100

spotify_track_uri    0.00
ts                   0.00
platform             0.00
ms_played            0.00
track_name           0.00
artist_name          0.00
album_name           0.00
reason_start         1.43
reason_end           1.17
shuffle              0.00
skipped              0.00
minutes_played       0.00
dtype: float64

In [54]:
for column in['reason_start', 'reason_end']:
    most_common= spotify_data[column].mode()[0]
    spotify_data[column].fillna(most_common, inplace=True)

In [56]:
spotify_data.isnull().sum()/100

spotify_track_uri    0.0
ts                   0.0
platform             0.0
ms_played            0.0
track_name           0.0
artist_name          0.0
album_name           0.0
reason_start         0.0
reason_end           0.0
shuffle              0.0
skipped              0.0
minutes_played       0.0
dtype: float64

In [62]:
processed_file_path = "/Users/veenukukreja/Downloads/processed_spotify_history.csv"
spotify_data.to_csv(processed_file_path, index=False)